
{% block content %}
{% load static %}
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-12 mb-4">
                <img src="static/images/logo.png" class="logo img-fluid" alt="">
            </div>
            <div class="col-lg-3 ">
                <h3>INFORMATION</h3>
                <a href="#">About Us</a><br>
                <a href="#">Privacy Policy</a><br>
                <a href="#">Terms & Conditions</a><br>
                <a href="#">Contact Us</a><br>
                <a href="#">Site Map</a><br>
            </div>
            <div class="col-lg-3 col-12 m-0 p-0">
                <h3>My User</h3>
                <a href="login">My Account</a><br>
                <a href="emc_srreqsts_user">Disasters Reported</a><br>
                <a href="emcservices">Emergency Request</a><br>
                <a href="login">Services</a><br>
                <a href="login">My Requests</a><br>
                <a href="login">My Requests</a><br>
              </div>
            <div class="col-lg-3 col-12 m-0 p-0">
                <h3>My Volunteers</h3>
                <a href="login">My Account</a><br>
                <a href="login">View Requests</a><br>
              </div>
              <div class="col-lg-2 col-12 m-0 p-0">
                <h3>MY Admin</h3>
                <a href="#">View Request</a><br>
                <a href="#">Chat with user</a><br>
                <a href="#">Add Services</a><br>
                <a href="#">Add Camps</a><br>
                <a href="#">Add Hospitals</a><br>
                <a href="#">View Volunteers</a><br>
                <a href="#">view Users</a><br>
                <a href="#">Emergency Requests</a><br>
              </div>
          
        </div>
    </div>

    <div class="site-footer-bottom">
        <div class="container">
            <div class="row">
                

                <div class="col-lg-6 col-md-7 col-12">
                    <p class="copyright-text mb-0">StormLight : Disaster Management System
                  </p>
                </div>
                
                
                
            </div>
        </div>
    </div>
</footer>

<!-- JAVASCRIPT FILES -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.sticky.js' %}"></script>
<script src="{% static 'js/click-scroll.js' %}"></script>
<script src="{% static 'js/counter.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

</body>
</html>
{% endblock %}