
{% block content %}
{% load static %}

{% include 'header.html' %}
{% if message1 %}
<script>
    alert('{{ message1 }}');
</script>
{% endif %}
{% if message2 %}
<script>
    alert('{{ message2 }}');
</script>
{% endif %}
{% if message4 %}
<script>
    alert('{{ message4 }}');
</script>
{% endif %}
{% if message5 %}
<script>
    alert('{{ message5 }}');
</script>
{% endif %}
{% if message7 %}
<script>
    alert('{{ message7 }}');
</script>
{% endif %}
{% if message8 %}
<script>
    alert('{{ message8 }}');
</script>
{% endif %}
{% if message9 %}
<script>
    alert('{{ message9 }}');
</script>
{% endif %}
        <main>

            <section class="hero-section hero-section-full-height">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-lg-12 col-12 p-0">
                            <div id="hero-slide" class="carousel carousel-fade slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="{% static 'images/slide/3.jpg' %}" class="carousel-image img-fluid" alt="...">
                                        
                                        <div class="carousel-caption d-flex flex-column justify-content-end">
                                            <h1>be Helpfull</h1>
                                            
                                            <p>need volunteer</p>
                                        </div>
                                    </div>

                                    <div class="carousel-item">
                                        <img src="{% static 'images/slide/2.jpg' %}" class="carousel-image img-fluid" alt="...">
                                        
                                        <div class="carousel-caption d-flex flex-column justify-content-end">
                                            <h1>Non-profit</h1>
                                            
                                            <p>You can be a helping hand</p>
                                        </div>
                                    </div>

                                    <div class="carousel-item">
                                        <img src="{% static 'images/slide/1.png' %}" class="carousel-image img-fluid" alt="...">
                                        
                                        <div class="carousel-caption d-flex flex-column justify-content-end">
                                            <h1>Humanity</h1>
                                            
                                            <p>Please tell your friends about our website</p>
                                        </div>
                                    </div>
                                </div>

                                <button class="carousel-control-prev" type="button" data-bs-target="#hero-slide" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>

                                <button class="carousel-control-next" type="button" data-bs-target="#hero-slide" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </section>


            <section class="section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-10 col-12 text-center mx-auto">
                            <h2 class="mb-5">Welcome to DEMS</h2>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                            <div class="featured-block d-flex justify-content-center align-items-center">
                                <a href="volregister" class="d-block">
                                    <img src="static/images/icons/hands.png" class="featured-block-image img-fluid" alt="">

                                    <p class="featured-block-text">Become a <strong>volunteer</strong></p>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4">
                            <div class="featured-block d-flex justify-content-center align-items-center">
                                <a href="register" class="d-block">
                                    <img src="static/images/icons/heart.png" class="featured-block-image img-fluid" alt="">

                                    <p class="featured-block-text"> Be a <strong>Member</strong></p>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4">
                            <div class="featured-block d-flex justify-content-center align-items-center">
                                <a href="donation" class="d-block">
                                    <img src="static/images/icons/receive.png" class="featured-block-image img-fluid" alt="">

                                    <p class="featured-block-text">Make a <strong>Donation</strong></p>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                            <div class="featured-block d-flex justify-content-center align-items-center">
                                <a href="emcservices" class="d-block">
                                    <img src="static/images/icons/scholarship.png" class="featured-block-image img-fluid" alt="">

                                    <p class="featured-block-text"><strong>Emergency</strong> care</p>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            
            
        </main> 
        

        {% include 'footer.html' %}

        {% endblock %}