
{% block content %}
{% load static %}

{% include 'header.html' %}
<section class="volunteer-section section-padding" id="section_4">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12">
                <h2 class="text-white mb-4">Update Profile</h2>

                <form class="custom-form volunteer-form mb-5 mb-lg-0" action="pupdate/{{result.id}}" method="post" role="form">
                    {% csrf_token %}
                    <h3 class="mb-4"></h3>

                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <input type="text" name="name"  value="{{result.name}}" id="volunteer-name" class="form-control" placeholder="Name" required>
                        </div>

                        <div class="col-lg-6 col-12">    
                            <input type="email" name="email"  value="{{result.email}}" id="volunteer-email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Email" required>
                        </div>

                        <div class="col-lg-6 col-12">
                            <input type="text" name="phone"  value="{{result.phone}}" id="volunteer-subject" class="form-control" placeholder="Phone" required>
                        </div>

                        <div class="col-lg-6 col-12">
                            <input type="text" name="password"  value="{{result.password}}" id="volunteer-subject" class="form-control" placeholder="Password" required>
                        </div>
                        <div class="col-lg-6 col-12">
                            <input type="text" name="address"  value="{{result.address}}" id="volunteer-subject" class="form-control" placeholder="Password" required>
                        </div>
                    </div>


                    <button type="submit" class="form-control">Submit</button>
                </form>
            </div>

            <div class="col-lg-6 col-12">
                <img src="static/images/smiling-casual-woman-dressed-volunteer-t-shirt-with-badge.jpg" class="volunteer-image img-fluid" alt="">

                <div class="custom-block-body text-center">
                    <h4 class="text-white mt-lg-3 mb-lg-3">About DEMS</h4>

                    <p class="text-white">The District Emergency Management System involves a coordinated and integrated approach to minimize the impact of disasters on people, property, and the environment. </p>
                </div>
            </div>

        </div>
    </div>
</section>
{% include 'footer.html' %}

{% endblock %}