
{% load static %}
{% include 'header.html' %}

<style>
* {
	 padding: 0;
	 margin: 0;
	 box-sizing: border-box;
}
 *:hover, *:focus {
	 outline: none;
}
 .chat {
	 width: 100%;
	 max-width: 800px;
	 height: calc(70vh - 50px);
	 min-height: 100%;
	 padding: 15px 30px;
	 margin: 0 auto;
	 overflow-y: scroll;
	 background-color: #f82249;
	 transform: rotate(180deg);
	 direction: rtl;
}

 .chat__wrapper {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-orient: vertical;
	 -webkit-box-direction: normal;
	 -ms-flex-direction: column-reverse;
	 flex-direction: column-reverse;
	 -webkit-box-pack: end;
	 -ms-flex-pack: end;
	 justify-content: flex-end;
}
 .chat__message {
	 font-size: 18px;
	 padding: 10px 20px;
	 border-radius: 25px;
	 color: #000;
	 background-color: #e6e7ec;
	 max-width: 600px;
	 width: -webkit-fit-content;
	 width: -moz-fit-content;
	 width: fit-content;
	 position: relative;
	 margin: 15px 0;
	 word-break: break-all;
	 transform: rotate(180deg);
	 direction: ltr;
}
 .chat__message:after {
	 content: "";
	 width: 20px;
	 height: 12px;
	 display: block;
	 background-image: url("https://stageviewcincyshakes.firebaseapp.com/icon-gray-message.e6296433d6a72d473ed4.png");
	 background-repeat: no-repeat;
	 background-position: center;
	 background-size: contain;
	 position: absolute;
	 bottom: -2px;
	 left: -5px;
}
 .chat__message-own {
	 color: #fff;
	 margin-left: auto;
	 background-color: #00a9de;
}
 .chat__message-own:after {
	 width: 19px;
	 height: 13px;
	 left: inherit;
	 right: -5px;
	 background-image: url("https://stageviewcincyshakes.firebaseapp.com/icon-blue-message.2be55af0d98ee2864e29.png");
}
 .chat__form {
	 background-color: #e0e0e0;
}
 .chat__form form {
	 max-width: 800px;
	 margin: 0 auto;
	 height: 50px;
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-align: center;
	 -ms-flex-align: center;
	 align-items: center;
}
 .chat__form input {
	 height: 40px;
	 font-size: 16px;
	 min-width: 90%;
	 padding-left: 15px;
	 background-color: #fff;
	 border-radius: 15px;
	 border: none;
}
 .chat__form button {
	 width: 10%;
	 height: 80%;
	 font-size: 16px;
	 background-color: green;
	 border-radius: 20px;
	 text-align: center;
	 text-transform: uppercase;
	 cursor: pointer;
     color: white;
}
 .chat__form button:hover {
	 font-weight: bold;
}
.hdiv{
    padding-left: 340px;
    padding-right: 340px;
    
}
h3{
   padding-left: 50px;
   background-color: #2C3E4F;
   border-radius: 20px;
   color: white;
}
 
</style>
<br><br>

  <div class="hdiv"><h3> {{stud}}</h3></div>          

    <div class="chat">
       
        <div class="chat__wrapper">
            {% for i in chat %}
            {% if i.cus_msg %}
          <div class="chat__message">
            <div class="date"></div>
            <div>{{i.cus_msg}}</div>
          </div>
          {% endif %}
        {% if i.admin_msg %}
          <div class="chat__message chat__message-own">
            <div class="date"></div>
            <div>{{i.admin_msg}}</div>
          </div>
        {% endif %}
         {% endfor %}
        </div>
      </div>
      <div class="chat__form">
        <form action="http://127.0.0.1:8000/addchat_admin" method="post" id="chat__form">
            {% csrf_token %}
          <input id="text-message" type="text" name="message" placeholder="Type your message here ...">
          <input  type="text" name="mem_id" hidden value="{{student}}">
          <button  type="submit">Send</button>
        </form>
        
      </div>
      <div id="result"></div>

    

    <br><br><br><br>

