

{% block content %}
{% load static %}

{% include 'header.html' %}


<section class="cta-section section-padding section-bg">
    <div class="container">
        <div class="row justify-content-center align-items-center">

            <div class="col-lg-12 col-12 ms-auto">
                <h2 class="mb-0">Hospital Details</h2>
                <table class="table table-bordered" width="100%">
                    <tr>
                    <th>Hospital Name</th>
                  
                    
                    <th>Place</th>
                    <th>Map Link</th>
                    <th>Phone</th>
                    {% if request.session.admin %}
                    <th>Remove</th>
                   {% endif %}
                    
                
                    </tr>
                    {% for i in result %}
                    
                    <tr>
                    <td>{{i.name}}</td>
                 
                    <td>{{i.place}}</td>
                    <td><center>{% if request.object %}{{i.map}}{% endif %}</center></td>
                    <td>{{i.phone}}</td>
                    {% if request.session.admin %}
                    <td><a class="btn btn-primary" href="remove_hos/{{i.id}}">Remove</a></td>
                 {% endif %}

                    </tr>
                    {% endfor %}
                    </table>
            </div>

          
        </div>
    </div>
</section>

{% include 'footer.html' %}

{% endblock %}