{% block content %}
{% load static %}
{% include 'header.html' %}
<section class="section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 col-12 text-center mx-auto">
              
                <h2 class="mb-5"> Services</h2>
             

            </div>


            {% for i in result %}

            <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                <div class="featured-block d-flex justify-content-center align-items-center">
                    <a href="serrequest/{{i.id}}" class="d-block">
                        <img src="static/images/icons/hands.png" class="featured-block-image img-fluid" alt="">

                        <p class="featured-block-text"><strong>{{i.name}}</strong></p>
                       
                    </a>
                    
                </div>
            <a href="removeser/{{i.id}}" class='btn btn-primary'>Remove</a>
                
            </div>
            {% endfor %}
           

           

        </div>
    </div>
</section>
{% include 'footer.html' %}

{% endblock %}