

{% block content %}
{% load static %}

{% include 'header.html' %}


<section class="cta-section section-padding section-bg">
    <div class="container">
        <div class="row justify-content-center align-items-center">

            <div class="col-lg-12 col-12 ms-auto">
                <h2 class="mb-0">Requests</h2>
                <table class="table table-bordered" width="100%">
                    <tr>
                    <th>User Name</th>
                    <th>Requested Service</th>
                    <th>Date</th>
                    <th>Message/Description</th>
                    <th>Place</th>
                    <th>Phone</th>
                   
                    <th>Assign</th>
                
                    </tr>
                    {% for i in result %}
                    
                    <tr>
                    <td>{{i.uid}}</td>
                    <td>{{i.service}}</td>
                    <td>{{i.date}}</td>
                    <td>{{i.message}}</td>
                    <td>{{i.location}}</td>
                    <td>{{i.phone}}</td>
                  {% if i.status == 'pending' %}
                    <td><a href="assignreq/{{i.id}}" class='btn btn-primary'>Assign Volunteer</a></td>
                   {% else %} 
                   <td>Assigned</td>
                   {% endif %}

                    </tr>
                    {% endfor %}
                    </table>
            </div>

          
        </div>
    </div>
</section>

{% include 'footer.html' %}

{% endblock %}